<% var prefix = model.developement ? "http://localhost:8081/dev-server-dist" : "/dist" %>

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Малое Инновационное предприятие</title>
  <meta name="author" content="Alexey Levin">
  <% if (!model.developement) { %>
    <link rel="stylesheet" href="<%=prefix%>/bundle.css">
  <% } %>
</head>

<body>
  <%- include("body") %>
  <script src="<%=prefix%>/bundle.js"></script>
</body>
</html>